/* Fonts */

@font-face {
  font-family: "Futura";
  src:
    url("/src/fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("/src/fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src:
    url("/src/fonts/FuturaPT-Bold.woff2") format("woff2"),
    url("/src/fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src:
    url("/src/fonts/FuturaPT-Book.woff2") format("woff2"),
    url("/src/fonts/FuturaPT-Book.woff") format("woff");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src:
    url("/src/fonts/FuturaPT-Light.woff2") format("woff2"),
    url("/src/fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Custom variables */
:root {
  --bgcolor: #f6f6f6;
  --fontcolor: #111111;
  --theme-red: #ad4844;
  --theme-green: #30ab4c;
  --theme-gray: #d9d9d9;
}

/* Global Reset */

html {
  font-size: 62.5%;
  font-family: "Futura";
}

body {
  font-size: 1.6rem;
  font-weight: 350;
  background-color: var(--bgcolor);
  color: var(--fontcolor);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ========== Actual styling below ==========  */

/* === Global styles === */

::selection {
  background-color: var(--theme-red);
  color: var(--fontcolor);
}

/* === Element styles === */

/* Header */

header {
  z-index: 100;
  background-color: var(--bgcolor);
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12.2rem;
  padding: 0 3.6rem;

  .logo {
    margin-left: 10%;
    font-size: 4.4rem;
  }

  text-transform: uppercase;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-placeholder {
  display: block;
  height: 12.2rem;
  width: 100%;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  & ul {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    font-size: 1.6rem;
  }

  & li {
    list-style-type: none;

    &:last-child {
      font-weight: 700;
    }
  }
}

/* Logo */

.logo {
  text-transform: uppercase;
  display: flex;
  gap: 0;

  & span:nth-child(2) {
    color: var(--theme-red);
  }
}

main {
  & section:first-child {
    padding-top: 12.2rem;
  }
}

/* Section Hero */
section {
  max-width: 100%;
  padding: 3.6rem 0 7.2rem 0;
}

.section-hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & > svg {
    position: absolute;
    right: 0;
    bottom: -3rem;
  }
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 10rem;

  .hero-img {
    display: flex;
    position: relative;

    & img {
      z-index: 3;
    }

    & svg {
      top: 50%;
      position: absolute;
      z-index: 1;
      transform: rotate(-10deg);
    }

    & svg:nth-child(2) {
      top: 40%;
      right: 5rem;
      transform: rotate(12deg);
    }
  }

  .hero-text {
    .logo {
      font-size: 12rem;
    }

    .hero-description {
      margin: 2rem 0;
      & h1 {
        margin-bottom: 2rem;
        line-height: normal;
        font-weight: 450;
        font-size: 4.8rem;
        background: linear-gradient(90deg, #111 -8.85%, #b1b1b1 116.12%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      font-size: 2rem;
    }

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 18rem;
    }
  }
}

.btn-cta {
  background-color: var(--theme-green);
  color: var(--bgcolor);
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Section The Why */
