:root {
  --bgcolor: #f6f6f6;
  --fontcolor: #111111;
}

/* Fonts */

@font-face {
  font-family: "Futura";
  src: url("/src/fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("/src/fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Global Reset */

html {
  font-size: 62.5%;
  font-family: "Futura";
}

body {
  font-size: 1.6rem;
  background-color: var(--bgcolor);
  color: var(--fontcolor);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Actual styling below */
